click==8.0.0
kaggle==1.5.12
matplotlib==3.4.0
numpy==1.22.0
opencv-python==4.5.1.48
PySimpleGUI==4.41.2
seaborn==0.11.1
torch==1.8.1+cu111
torch-tb-profiler==0.1.0
torchvision==0.9.1+cu111
tqdm==4.60.0